:root {
  --m-smaller-font-size-font-family: "Exo", Helvetica;
  --m-smaller-font-size-font-weight: 400;
  --m-smaller-font-size-font-size: 12px;
  --m-smaller-font-size-letter-spacing: 0px;
  --m-smaller-font-size-line-height: 139.9999976158142%;
  --m-smaller-font-size-font-style: normal;
  --d-h3-font-size-font-family: "Exo", Helvetica;
  --d-h3-font-size-font-weight: 600;
  --d-h3-font-size-font-size: 20px;
  --d-h3-font-size-letter-spacing: 0px;
  --d-h3-font-size-line-height: 139.9999976158142%;
  --d-h3-font-size-font-style: normal;
  --collection-1-number: 400px;
}
